<!DOCTYPE html>
<html>
    <head>

        <title>CRUDy</title>

        <meta charset=utf-8 />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="author" content="Stefan Safranek">
        <meta name="description" content=""/>

        <!-- <meta http-equiv="Content-Security-Policy" content="script-src 'none'"> -->

        <!-- The Chrome debugger yelled at me to include these... -->
        <link rel="apple-touch-icon" sizes="180x180" href="/static/images/applestatic-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/static/images/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/static/images/favicon-16x16.png">
        <link rel="manifest" href="/static/manifest.json">


        <!-- I am using the 'defer' and 'async' attributes to speed up the loading of the page. -->

        <!-- jQuery -->
        <script defer src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

        <!-- Bootstrap -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
        <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
        <script defer src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-W8fXfP3gkOKtndU4JGtKDvXbO53Wy8SZCQHczT5FMiiqmQfUpWbYdTil/SxwZgAN" crossorigin="anonymous"></script>
        <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js" integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/" crossorigin="anonymous"></script>

        <!-- SweetAlert2 -->
        <script defer src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

        <!-- Vue.js -->
        <script defer src="https://cdn.jsdelivr.net/npm/vue@2"></script>

        <!-- Font Awesome -->
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

        <!-- D3.js -->
        <script defer src="https://d3js.org/d3.v3.min.js"></script>

        <!-- Fetch Polyfill -->
        <!-- The fetch api is not compatible with Internet Explorer:
                https://developer.mozilla.org/en-US/docs/Web/API/Fetch_API
             I am not sure if certain networks will block this...
        -->
        <script defer src="https://raw.githubusercontent.com/github/fetch/master/fetch.js"></script>

        <style>

            body {
                margin-top: 40px;
                margin-bottom: 60px;
            }

            #view {
                font-size: .875rem;
            }

            .text-bold {
                font-weight: 600;
            }

            .text-underline {
                text-decoration: underline;
            }

            .form-control-sm {
                min-height: auto;
                padding: .02rem .5rem;
            }

            .table-row {
                border: 1px solid #dee2e6;
            }

            .table-row:hover {
                background-color: rgba(0,0,0,.075);
            }

            .btn-copy,
            .btn-delete {
                cursor: pointer;
            }

            .filters-container {
                background-color: rgba(0,0,0,.075);
            }

            .table-body-container {
                /* This doesn't seem to work on my version of FireFox. */
                overflow-y: overlay;
                max-height: 50em;
            }

            /* Here are some simple CSS3 Animations */
            .pulsate-warning-text {
                -webkit-animation: pulsate 1s cubic-bezier(0.24, 0, 0.38, 1);
                -webkit-animation-iteration-count: infinite;
                animation: pulsate-warning-text 1s cubic-bezier(0.24, 0, 0.38, 1) infinite;
                opacity: 0.5;
            }

            @-webkit-keyframes pulsate-warning-text {
                0% {
                    opacity: 0.5;
                    color: black;
                }
                50% {
                    opacity: 1.0;
                    color: darkred;
                }
                100% {
                    opacity: 0.5;
                    color: black;
                }
            }

            .pulsate-info-text {
                -webkit-animation: pulsate 1s cubic-bezier(0.24, 0, 0.38, 1);
                -webkit-animation-iteration-count: infinite;
                animation: pulsate-warning-text 1s cubic-bezier(0.24, 0, 0.38, 1) infinite;
                opacity: 0.5;
            }

            @-webkit-keyframes pulsate-warning-text {
                0% {
                    opacity: 0.5;
                    color: black;
                }
                50% {
                    opacity: 1.0;
                    color: darkblue;
                }
                100% {
                    opacity: 0.5;
                    color: black;
                }
            }


            /* SVG Chart styling */
            svg {
            	width: 100%;
                height: 16em;
            }

            path.slice{
            	stroke-width:2px;
            }

            polyline{
            	opacity: .3;
            	stroke: black;
            	stroke-width: 2px;
            	fill: none;
            }




            .show {
                opacity: 1;
                height: auto;
                transition: .3s all ease;
            }

            .hide {
                opacity: 0;
                height: 0;
                transition: .3s all ease;
            }


        </style>

    </head>

    <body>

        <div class="container" id="view">

            <div class="row">
                <h4>
                    <span class="label-create">C</span>
                    <span class="label-read">R</span>
                    <span class="label-update">U</span>
                    <span class="label-delete">D</span>
                    y
                </h4>
            </div>

            <div class="row mb-4">
                <div class="col-9 chart-container">
                    <!-- The instructions 'technically' didn't say I needed to create two separate pages...
                         I will use D3.js to automatically generate a pie chart to show the "status" values.
                         It will automatically update as the user applies any filters.
                    -->
                    <svg id="chart">
                    </svg>
                </div>
                <div class="col-3">
                    <!-- Here is a basic example of an HTML form for the [C]reate method.
                         Each of the CRUD methods should be supported for both forms and
                         ajax/fetch requests.
                    -->
                    <form action="/create" method='POST'>
                        <strong>Create Model</strong>
                        <div class="form-group mb-2">
                            <label for='name'>Name: </label>
                            <input class="form-control" type='text' id='name' name='name' placeholder="Name" aria-describedby="help" required>
                            <!-- <small id="help" class="form-text text-muted">If a name for the model is not supplied a UUID will be generated.</small> -->
                        </div>
                        <button class='btn btn-sm btn-primary float-end' type='submit' @mouseover="toggleCreate" @mouseout="toggleCreate">Submit</button>
                    </form>
                </div>
            </div>

            <!-- Header -->
            <div class="row text-bold table-header table-row">
                <div class="col-1">name</div>
                <div class="col-2">make</div>
                <div class="col-2">color</div>
                <div class="col-2">status</div>
                <div class="col-2">create_at</div>
                <div class="col-2">update_at</div>
                <div class="col-1"></div>
            </div>

            <!-- Filters -->
            <div class="row bold table-row filters-container">
                <!-- TODO Add filter icon -->
                <div class="col-1">
                    <div class="input-group">
                        <!-- <span class="input-group-text"> -->
                            <!-- <i class="fas fa-filter"></i> -->
                        <!-- </span> -->
                        <input type="text" class="form-control form-control-sm" placeholder="name" title="filter" v-model="filters.name" @keyup="filterChange()">
                    </div>
                </div>
                <div class="col-2">
                    <div class="input-group">
                        <input type="text" class="form-control form-control-sm" placeholder="make" title="filter" v-model="filters.make" @keyup="filterChange()">
                    </div>
                </div>
                <div class="col-2">
                    <div class="input-group">
                        <input type="text" class="form-control form-control-sm" placeholder="color" title="filter" v-model="filters.color" @keyup="filterChange()">
                    </div>
                </div>
                <div class="col-2">
                    <div class="input-group">
                        <input type="text" class="form-control form-control-sm" placeholder="status" title="filter" v-model="filters.status" @keyup="filterChange()">
                    </div>
                </div>
                <div class="col-2">
                    <div class="input-group">
                        <input type="text" class="form-control form-control-sm" placeholder="create_at" title="filter" v-model="filters.create_at" @keyup="filterChange()">
                    </div>
                </div>
                <div class="col-2">
                    <div class="input-group">
                        <input type="text" class="form-control form-control-sm" placeholder="update_at" title="filter" v-model="filters.update_at" @keyup="filterChange()">
                    </div>
                </div>
                <div class="col-1"></div>
            </div>

            <!-- Body -->
            <div class="row table-body-container">
                <div class="col">
                    <!-- Vue will act as our templating engine. It will loop through the
                         model objects and create a new row for our makeshift "table".
                    -->
                    <div v-for="model in models" v-model='models' class="row table-row model-container" v-bind:id="model.id" @mouseover="toggleRead" @mouseout="toggleRead">
                        <div class="col-1" v-model='model.name'>
                            <% model.name %>
                        </div>
                        <!-- I thought about adding an icon to be able to select which column
                             to use for the chart visualization.
                        -->
                        <div class="col-2" >
                            <input type="text" class="form-control form-control-sm" v-model="model.make" placeholder="make" @change="updateModel(model)" @mouseover="toggleUpdate" @mouseout="toggleUpdate"/>
                        </div>
                        <div class="col-2" >
                            <input type="text" class="form-control form-control-sm" v-model="model.color" placeholder="color" @change="updateModel(model)" @mouseover="toggleUpdate" @mouseout="toggleUpdate"/>
                        </div>
                        <div class="col-2" >
                            <input type="text" class="form-control form-control-sm" v-model="model.status" placeholder="status" @change="updateModel(model)" @mouseover="toggleUpdate" @mouseout="toggleUpdate"/>
                        </div>
                        <div class="col-2" v-model='model.create_at'>
                            <% model.create_at %>
                        </div>
                        <div class="col-2" v-model='model.update_at'>
                            <% model.update_at %>
                        </div>
                        <div class="col-1 model-controls-container">
                            <span class="me-1 btn-copy" title="Copy" @click="copyModel(model)" @mouseover="toggleCreate" @mouseout="toggleCreate">
                                <i class="far fa-copy"></i>
                            </span>
                            <span class="me-1 btn-delete" title="Delete" @click="deleteModel(model)" @mouseover="toggleDelete" @mouseout="toggleDelete">
                                <i class="fas fa-trash"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <script>

            // I would usually put these in separate JavaScript files.
            // For this project I am just going "hand-wave" around it.
            // I don't really want to setup a '/static' route on the
            // server side.
            // Next time I would probably do this in TypeScript.


            // PieChart class to display 'status' values within selection.
            var PieChart = function() {

                // We can make most of these items 'private' attributes.
                let svg = d3.select("svg#chart")
                    .append("g");

                svg.append("g")
                    .attr("class", "slices");

                svg.append("g")
                    .attr("class", "labels");

                svg.append("g")
                    .attr("class", "lines");

                let width = 960/2,
                    height = 450/2,
                	radius = Math.min(width, height) / 2;

                let pie = d3.layout.pie()
                	.sort(null)
                	.value(function(d) {
                		return d.value;
                	});

                let arc = d3.svg.arc()
                	.outerRadius(radius * 0.8)
                	.innerRadius(radius * 0.4);

                let outerArc = d3.svg.arc()
                	.innerRadius(radius * 0.9)
                	.outerRadius(radius * 0.9);

                svg.attr("transform", "translate(" + width / 2 + "," + height / 2 + ")");

                let key = function(d){ return d.data.label; };
                let colorScale = d3.scale.category10();

                // Function to update chart. D3 will trigger css transitions
                // to nicely animate the chart during the update.
                this.update = function(raw) {

                    // Reformat data
                    let values = d3.set(raw).values();

                    let color = d3.scale.ordinal()
                    	.domain(values)
                        .range(values.map(function(d,i) {
                            return colorScale(i);
                        }));

                    function formatData (){
                    	let labels = color.domain();
                    	return values.map(function(label){
                    		return {
                                label: label,
                                value: raw.filter(function(d) {
                                    return label == d;
                                }).length
                            }
                    	});
                    }

                    let data = formatData(raw);


                	// Build the pie chart slices
                	let slice = svg.select(".slices").selectAll("path.slice")
                        .data(pie(data), key);

                	slice.enter()
                		.insert("path")
                		.style("fill", function(d) { return color(d.data.label); })
                		.attr("class", "slice");

                	slice.transition().duration(1000)
                		.attrTween("d", function(d) {
                			this._current = this._current || d;
                			var interpolate = d3.interpolate(this._current, d);
                			this._current = interpolate(0);
                			return function(t) {
                				return arc(interpolate(t));
                			};
                		})

                	slice.exit().remove();


                	// Add labels for 'status' values
                	let text = svg.select(".labels").selectAll("text")
                        .data(pie(data), key);

                	text.enter()
                		.append("text")
                		.attr("dy", ".35em")
                		.text(function(d) {
                            return `${d.data.value} ${d.data.label}`;
                		});

                	function midAngle(d){
                		return d.startAngle + (d.endAngle - d.startAngle)/2;
                	}

                	text.transition().duration(1000)
                		.attrTween("transform", function(d) {
                			this._current = this._current || d;
                			var interpolate = d3.interpolate(this._current, d);
                			this._current = interpolate(0);
                			return function(t) {
                				var d2 = interpolate(t);
                				var pos = outerArc.centroid(d2);
                				pos[0] = radius * (midAngle(d2) < Math.PI ? 1 : -1);
                				return "translate("+ pos +")";
                			};
                		})
                		.styleTween("text-anchor", function(d) {
                			this._current = this._current || d;
                			var interpolate = d3.interpolate(this._current, d);
                			this._current = interpolate(0);
                			return function(t) {
                				var d2 = interpolate(t);
                				return midAngle(d2) < Math.PI ? "start":"end";
                			};
                		})
                        .text(function(d) {
                            return `${d.data.value} ${d.data.label}`;
                		});

                	text.exit().remove();


                    // Draw line from label to slice
                	var polyline = svg.select(".lines").selectAll("polyline")
                		.data(pie(data), key);

                	polyline.enter().append("polyline");

                	polyline.transition().duration(1000)
                		.attrTween("points", function(d){
                			this._current = this._current || d;
                			var interpolate = d3.interpolate(this._current, d);
                			this._current = interpolate(0);
                			return function(t) {
                				var d2 = interpolate(t);
                				var pos = outerArc.centroid(d2);
                				pos[0] = radius * 0.95 * (midAngle(d2) < Math.PI ? 1 : -1);
                				return [arc.centroid(d2), outerArc.centroid(d2), pos];
                			};
                		});

                	polyline.exit().remove();
                };

            }


            // Lets throw in some Vanilla JS for old times sake.
            document.addEventListener("DOMContentLoaded", function() {

                // I am mainly using Vue to as a templating engine.
                // The added benefits is it will setup events and data bindings with the DOM.
                window.app = new Vue({

                    el: '#view',

                    delimiters: ["<%","%>"],

                    data: {
                        models: {{models}},
                        filters: {
                            id: null,
                            name: null,
                            make: null,
                            color: null,
                            status: null,
                            create_at: null,
                            update_at: null
                        }
                    },

                    mounted: function () {
                        let self = this;

                        // Lets setup the basic D3 chart to show the 'status' values.
                        this.chart = new PieChart();
                        this.chart.update(this._data.models.map(function(d) {
                            return d.status;
                        }));
                    },

                    methods: {
                        // Fun little indicators for behavior
                        toggleCreate: function() {
                            $('.label-create').toggleClass('pulsate-info-text text-bold text-underline');
                        },

                        toggleRead: function() {
                            $('.label-read').toggleClass('pulsate-info-text text-bold text-underline');
                        },

                        toggleUpdate: function() {
                            $('.label-update').toggleClass('pulsate-info-text text-bold text-underline');
                        },

                        toggleDelete: function() {
                            $('.label-delete').toggleClass('pulsate-info-text text-bold text-underline');
                        },

                        // Simple method to report errors back to the user.
                        showError: function(message) {
                            Swal.fire({
                                icon: 'error',
                                text: message
                            });
                        },

                        getRowByModelID: function(model) {
                            return $('#'+model.id.replace(/ /g, ''));
                        },

                        // Ultimately if I were to do this again I would make each
                        // "Model" object a Vue component. That way I could have the
                        // parent (app) send Events to its children.
                        // https://vuejs.org/v2/guide/components.html
                        filterChange: function(model) {
                            let self = this;

                            // Because we are doing many DOM manipluations I will run
                            // this in a callback function via the Array.map/filter function.
                            let models = this._data.models.filter(function(d) {
                                let _show = true;
                                for (let field in self._data.filters) {
                                    let value = self._data.filters[field];
                                    if (value) {
                                        if (!d[field] || -1 == d[field].indexOf(value)) {
                                            _show = false;
                                            break;
                                        }
                                    }
                                }
                                // let $elem = $('#'+d.name.replace(/ /g, ''));
                                // _show ? $elem.show() : $elem.hide();
                                let $elem = self.getRowByModelID(d);
                                // _show ? $elem.fadeIn() : $elem.fadeOut();
                                _show ? $elem.addClass('show').removeClass('hide') : $elem.addClass('hide').removeClass('show');
                                return _show;
                            });

                            // Update SVG chart to display filtered 'status' values.
                            this.chart.update(
                                models.map(function(d) {
                                    return d.status;
                                })
                            );
                        },

                        // I read the "copy/edit" item as coping an individual model object,
                        // not coping the entire data set (all model objects).
                        // Ultimately the "status" property should be controlled by a
                        // <select> not an <input>.
                        copyModel: function(old_model) {
                            let self = this;
                            Swal.fire({
                                title: 'Copy Model',
                                html: `
                                    <div>
                                        <div class="input-group input-group-sm pb-1">
                                            <span class="input-group-text">
                                                Name
                                            </span>
                                            <input type="text" id="name" class="form-control form-control-sm" placeholder="name" required>
                                        </div>
                                        <div class="input-group input-group-sm pb-1">
                                            <span class="input-group-text">
                                                Make
                                            </span>
                                            <input type="text" id="make" class="form-control form-control-sm" placeholder="make" value="${old_model.make}">
                                        </div>
                                        <div class="input-group input-group-sm pb-1">
                                            <span class="input-group-text">
                                                Color
                                            </span>
                                            <input type="text" id="color" class="form-control form-control-sm" placeholder="color" value="${old_model.color}">
                                        </div>
                                        <div class="input-group input-group-sm pb-1">
                                            <span class="input-group-text">
                                                Status
                                            </span>
                                            <input type="text" id="status" class="form-control form-control-sm" placeholder="status" value="${old_model.status}">
                                        </div>
                                    </div>
                                `,
                                showCloseButton: true,
                                showCancelButton: true,
                                focusConfirm: false,
                                backdrop: true,
                                showLoaderOnConfirm: true,
                                allowOutsideClick: function(){ return !Swal.isLoading(); },
                                didOpen: function() {
                                    // Setup some controls on requiring the 'name' field.
                                    let $confirmButton = $(Swal.getPopup().querySelector('.swal2-confirm'));
                                    $confirmButton.prop('disabled', true);
                                    $(Swal.getPopup().querySelector('#name')).on('change', function(event) {
                                        $confirmButton.prop('disabled', '' == this.value);
                                    });
                                },
                                preConfirm: function() {
                                    // Return Promise
                                    return fetch('/api/v1/model', {
                                        method: 'POST',
                                        headers: {
                                            'Content-Type': 'application/json'
                                        },
                                        body: JSON.stringify({
                                            "method": "create_model",
                                            "params": {
                                                name: Swal.getPopup().querySelector('#name').value,
                                                make: Swal.getPopup().querySelector('#make').value,
                                                color: Swal.getPopup().querySelector('#color').value,
                                                status: Swal.getPopup().querySelector('#status').value
                                            }
                                        })
                                    }).then(function(response) {
                                        if (!response.ok) {
                                            throw new Error(response.statusText)
                                        }
                                        return response.json();
                                    }).catch(function(error) {
                                        Swal.showValidationMessage(`Request failed: ${error}`);
                                    });
                                }
                            }).then(function(result) {
                                if (result.isConfirmed) {
                                    let new_model = result.value.data.model;
                                    self._data.models.push(new_model);
                                    // Allow Vue to add element to DOM before scrolling to view.
                                    // This is a little hacky but it works.
                                    setTimeout(function() {
                                        self.getRowByModelID(new_model)[0]
                                            .scrollIntoView({
                                                behavior: "smooth", // or "auto" or "instant"
                                                block: "start" // or "end"
                                            });
                                    }, 200);
                                }
                            });
                        },

                        /*
                            Since these are simple edits we are going to fire off an API request to make
                            these changes on the fly. Since this is attached to a 'change' event and not
                            a 'keypress' event, I don't anticipate a high volume of requests.

                            This also probably doesn't conform to the exact spefications for the "update/edit",
                            requirement.
                        */
                        updateModel: function(model) {

                            // Sanitize empty string values.
                            // This should be pushed down to the server side &/or
                            // controlled via a TRIGGER within the database.
                            for (let i in model) {
                                if ('' == model[i]) {
                                    model[i] = null;
                                }
                                // This could also be done server side.
                                // model[i] = sanitizeString(model[i]);
                                model[i] = model[i];
                            }

                            // Send api call via browsers fetch functionaly.
                            // It would be nicer to have a websocket to dynamically fire
                            // these events to the server side.
                            let self = this;
                            // TODO: more testing with encodeURIComponent & decodeURIComponent to make
                            // sure the 'name' field is URL safe
                            return fetch('/api/v1/model/' + model.id, {
                                method: 'PUT',
                                headers: {
                                    'Content-Type': 'application/json'
                                },
                                body: JSON.stringify({"method":"update_model","params":model})
                            }).then(function(response) {
                                response.json().then(function(data) {
                                    // TODO: Display toast alert to notify user.
                                    if ('ok' != data.status) {
                                        return self.showError(data.error.message);
                                    }

                                    // Update Model object in list
                                    // Vue doesn't seem to capture the change event if I write
                                    // over the original Model object.
                                    for (let i in data.data.model) {
                                        model[i] = data.data.model[i];
                                    }

                                    // Trigger a filter change
                                    self.filterChange();
                                });
                            }).catch(function(error) {
                                // NOTE: Ideally, I would "rollback" the user update and restore
                                // it to the previous value...
                                self.showError('Unable to communicate with server');
                            });
                        },

                        deleteModel: function(model) {
                            // Always warn the user about "dangerous" operations.
                            let self = this;
                            Swal.fire({
                                title: 'Are you sure?',
                                icon: 'warning',
                                // Hope no one uses Internet Explorer cause the Template_literals will not work...
                                // https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Template_literals
                                html: `
                                    <div>Do you wish to delete ${model.name}.</div>
                                    <div class="pulsate-warning-text text-bold">This cannot be undone.</div>
                                `,
                                showCloseButton: true,
                                showCancelButton: true,
                                focusConfirm: false,
                                backdrop: true,
                                showLoaderOnConfirm: true,
                                allowOutsideClick: function(){ return !Swal.isLoading(); },
                                // Here is a nice example of a Promise chain
                                preConfirm: function() {
                                    return fetch('/api/v1/model/' + model.id, {
                                        method: 'DELETE'
                                    }).then(function(response) {
                                        return response.json();
                                    }).catch(function(error) {
                                        Swal.showValidationMessage(`Request failed: ${error}`);
                                    });
                                }
                            }).then(function(result) {
                                if (result.isConfirmed) {
                                    if ('ok' == result.value.status) {
                                        // Vue does a great job of binding our data to the DOM.
                                        // By removing the model from our list Vue will automatically
                                        // detect the changes and update the DOM dynamically.
                                        self._data.models = self._data.models.filter(function(d) {
                                            return d.id != model.id;
                                        });

                                        // 'Trigger' a filter change.
                                        return self.filterChange();
                                    }
                                    self.showError(data.error.message);
                                }
                            }).catch(function(error) {
                                self.showError('Unable to communicate with server');
                            });

                        }

                    }
                });

            });

        </script>

    </body>

</html>
