<!DOCTYPE html>
<html>
    <head>

        <title>CRUDy</title>

        <meta charset=utf-8 />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="author" content="Stefan Safranek">
        <meta name="description" content=""/>

        <!-- <meta http-equiv="Content-Security-Policy" content="script-src 'none'"> -->

        <!-- The Chrome debugging tool 'Lighthouse' yelled at me to include these... -->
        <link rel="apple-touch-icon" sizes="180x180" href="/static/images/applestatic-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/static/images/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/static/images/favicon-16x16.png">
        <link rel="manifest" href="/static/manifest.json">

        <!-- I am using the 'defer' and 'async' attributes to speed up the loading of the page. -->

        <!-- Import polyfills for older browsers -->
        <script defer src="/static/polyfills/Promise.min.js"></script>
        <script defer src="/static/polyfills/Fetch.min.js"></script>

        <!-- jQuery -->
        <script defer src="/static/jquery-3.6.0.min.js"></script>

        <!-- Bootstrap -->
        <link href="/static/bootstrap-5.1.1-dist/css/bootstrap.min.css" rel="stylesheet">
        <script defer src="/static/bootstrap-5.1.1-dist/js/bootstrap.bundle.min.js"></script>
        <script defer src="/static/popper_v2.9.3.min.js"></script>
        <script defer src="/static/bootstrap-5.1.1-dist/js/bootstrap.min.js"></script>

        <!-- SweetAlert2 -->
        <script defer src="/static/sweetalert2_v11.1.5.min.js"></script>

        <!-- Vue.js -->
        <script defer src="/static/vue_v2.6.14.min.js"></script>

        <!-- Font Awesome -->
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

        <!-- D3.js -->
        <script defer src="/static/d3_v3.5.17.min.js"></script>

        <!-- Moved everything into a separate stylesheet -->
        <link rel="stylesheet" href="/static/css/style.css" />

    </head>

    <body>

        <div class="container" id="view">

            <div class="row">
                <h4>
                    <span class="label-create">C</span>
                    <span class="label-read">R</span>
                    <span class="label-update">U</span>
                    <span class="label-delete">D</span>
                    y
                </h4>
            </div>

            <div class="row mb-4">
                <div class="col-9 chart-container">
                    <svg id="chart">
                    </svg>
                </div>
                <div class="col-3">
                    <!-- Here is a basic example of an HTML form for the [C]reate method.
                         Each of the CRUD methods should be supported for both forms and
                         ajax/fetch requests.
                    -->
                    <form action="/create" method='POST'>
                        <strong>Create Model</strong>
                        <div class="form-group mb-2">
                            <label for='name'>Name: </label>
                            <input class="form-control" type='text' id='name' name='name' placeholder="Name" aria-describedby="help" required>
                            <!-- <small id="help" class="form-text text-muted">If a name for the model is not supplied a UUID will be generated.</small> -->
                        </div>
                        <button class='btn btn-sm btn-primary float-end' type='submit' @mouseover="toggleCreate" @mouseout="toggleCreate">Submit</button>
                    </form>
                </div>
            </div>

            <!-- Header -->
            <div class="row text-bold table-header table-row">
                <div class="col-1">name</div>
                <div class="col-2">
                    <i class="fas fa-chart-pie btn-chart text-muted" @click="setChartColumnId($event, 'make')"></i>
                    make
                </div>
                <div class="col-2">
                    <i class="fas fa-chart-pie btn-chart text-muted" @click="setChartColumnId($event, 'color')"></i>
                    color
                </div>
                <div class="col-2">
                    <i class="fas fa-chart-pie btn-chart" @click="setChartColumnId($event, 'status')"></i>
                    status
                </div>
                <div class="col-2">create_at</div>
                <div class="col-2">update_at</div>
                <div class="col-1"></div>
            </div>

            <!-- Filters -->
            <div class="row bold table-row filters-container">
                <!-- TODO Add filter icon -->
                <div class="col-1">
                    <div class="input-group">
                        <!-- <span class="input-group-text"> -->
                            <!-- <i class="fas fa-filter"></i> -->
                        <!-- </span> -->
                        <input type="text" class="form-control form-control-sm" placeholder="name" title="filter" v-model="filters.name" @keyup="filterChange()">
                    </div>
                </div>
                <div class="col-2">
                    <div class="input-group">
                        <input type="text" class="form-control form-control-sm" placeholder="make" title="filter" v-model="filters.make" @keyup="filterChange()">
                    </div>
                </div>
                <div class="col-2">
                    <div class="input-group">
                        <input type="text" class="form-control form-control-sm" placeholder="color" title="filter" v-model="filters.color" @keyup="filterChange()">
                    </div>
                </div>
                <div class="col-2">
                    <div class="input-group">
                        <input type="text" class="form-control form-control-sm" placeholder="status" title="filter" v-model="filters.status" @keyup="filterChange()">
                    </div>
                </div>
                <div class="col-2">
                    <div class="input-group">
                        <input type="text" class="form-control form-control-sm" placeholder="create_at" title="filter" v-model="filters.create_at" @keyup="filterChange()">
                    </div>
                </div>
                <div class="col-2">
                    <div class="input-group">
                        <input type="text" class="form-control form-control-sm" placeholder="update_at" title="filter" v-model="filters.update_at" @keyup="filterChange()">
                    </div>
                </div>
                <div class="col-1"></div>
            </div>

            <!-- Body -->
            <div class="row table-body-container">
                <div class="col">
                    <!-- Vue will act as our templating engine. It will loop through the
                         model objects and create a new row for our makeshift "table".
                    -->
                    <div v-for="model in models" v-model='models' class="row table-row model-container" v-bind:id="model.id" @mouseover="toggleRead" @mouseout="toggleRead">
                        <div class="col-1" v-model='model.name'>
                            <a href="#" @click="window.location='/model/' + model.id">
                                <% model.name %>
                            </a>
                        </div>
                        <!-- I thought about adding an icon to be able to select which column
                             to use for the chart visualization.
                        -->
                        <div class="col-2" >
                            <input type="text" class="form-control form-control-sm" v-model="model.make" placeholder="make" @change="updateModel(model)" @mouseover="toggleUpdate" @mouseout="toggleUpdate"/>
                        </div>
                        <div class="col-2" >
                            <input type="text" class="form-control form-control-sm" v-model="model.color" placeholder="color" @change="updateModel(model)" @mouseover="toggleUpdate" @mouseout="toggleUpdate"/>
                        </div>
                        <div class="col-2" >
                            <input type="text" class="form-control form-control-sm" v-model="model.status" placeholder="status" @change="updateModel(model)" @mouseover="toggleUpdate" @mouseout="toggleUpdate"/>
                        </div>
                        <div class="col-2" v-model='model.create_at'>
                            <% model.create_at %>
                        </div>
                        <div class="col-2" v-model='model.update_at'>
                            <% model.update_at %>
                        </div>
                        <div class="col-1 model-controls-container">
                            <span class="me-1 btn-copy" title="Compare" @click="compareModel(model)">
                                <i class="fas fa-balance-scale-right"></i>
                            </span>
                            <span class="me-1 btn-copy" title="Copy" @click="copyModel(model)" @mouseover="toggleCreate" @mouseout="toggleCreate">
                                <i class="far fa-copy"></i>
                            </span>
                            <span class="me-1 btn-delete" title="Delete" @click="deleteModel(model)" @mouseover="toggleDelete" @mouseout="toggleDelete">
                                <i class="fas fa-trash"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <script defer src="/static/js/piechart.js"></script>
        <script defer src="/static/js/app.js"></script>

        <script>

            // Lets throw in some Vanilla JS to start things off.
            document.addEventListener("DOMContentLoaded", function() {

                // We are using the Python server to dump the Model data
                // directly into the page.
                window.app = new App({{models}});

            });

        </script>

    </body>

</html>
